@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply text-slate-50 bg-gray-900;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

a {
  color: #4f7bc8;
  text-decoration: none;
}

button {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

table {
  border-radius: 0.5rem;
  @apply bg-gray-800 text-slate-300;
}

tbody {
  border-radius: 0.5rem;
}

tbody tr:first-child {
  font-weight: bold;
}

th {
  padding: 0.5rem 0.5rem;
  @apply bg-gray-950;
  font-weight: bold;
}

th:first-child {
  border-top-left-radius: 0.5rem;
}

th:last-child {
  border-top-right-radius: 0.5rem;
}

th p {
  text-align: left;
  font-weight: bold;
  font-size: 0.8rem;
  @apply text-slate-400;
}

tr {
  /* height: 3rem; */
}

td {
  padding: 0.8rem 0.5rem;
}

tbody tr:nth-child(odd) {
  @apply bg-gray-700;
}
